jaxb/demo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Person" /> 
<xs:complexType name="Person"> 
  <xs:sequence> 
    <xs:element name="Name" type="xs:string"/> 
    <xs:element name="Address" type="Address" minOccurs="1" maxOccurs="unbounded"/> 
  </xs:sequence>
</xs:complexType> 
<xs:complexType name="Address"> 
  <xs:sequence> 
    <xs:element name="Number" type="xs:unsignedInt"/> 
    <xs:element name="Street" type="xs:string"/> 
  </xs:sequence> 
</xs:complexType>
</xs:schema>